In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display_html

In [30]:
df = pd.read_excel('poitou-data.xlsx')

## Passenger Demographics

In [31]:
print('Total Number of Migrants: ',len(df))

Total Number of Migrants:  561

### Nationality

In [32]:
nationalities = df['nationality'].value_counts().to_frame('Migrants')
display(nationalities.T)

          Spanish  French  Italian
Migrants      557       3        1

### Age Distribution

In [33]:
months = df['months'].dropna().astype(int)
years = df['years'].dropna().astype(int)

In [34]:
no_age = df['years'].isna() & df['months'].isna()
print("Total of passengers without age:", no_age.sum())

Total of passengers without age: 3

In [35]:
infants = pd.cut(months, bins=[0,3,6,9,12]).value_counts().sort_index()\
            .to_frame('Infants (Months)')
print("Total of infants:", sum(infants.values)[0])
display(infants.T)

Total of infants: 24

                  (0, 3]  (3, 6]  (6, 9]  (9, 12]
Infants (Months)       7       9       7        1

In [36]:
kids = pd.cut(years, bins=[0, 2, 4, 6, 8, 10]).value_counts().sort_index()\
            .to_frame('Kids (Years)')
print("Total of kids:", sum(kids.values)[0])
display(kids.T)

Total of kids: 176

              (0, 2]  (2, 4]  (4, 6]  (6, 8]  (8, 10]
Kids (Years)      46      43      31      26       30

In [37]:
teens = pd.cut(years, bins=[10, 12,14, 16, 18, 20]).value_counts().sort_index()\
            .to_frame('Teenagers (Years)')
print("Total of teens:", sum(teens.values)[0])
display(teens.T)

Total of teens: 102

                   (10, 12]  (12, 14]  (14, 16]  (16, 18]  (18, 20]
Teenagers (Years)        28        32        11        18        13

In [38]:
adults = pd.cut(years, bins=[20, 30, 40, 50, 60, 70, 80]).value_counts().sort_index().to_frame('Adults (Years)')
print("Total of adults:", sum(adults.values)[0])
display(adults.T)

Total of adults: 255

                (20, 30]  (30, 40]  (40, 50]  (50, 60]  (60, 70]  (70, 80]
Adults (Years)       106        93        40        12         3         1